.modal-zoom {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
    backdrop-filter: blur(8px);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-zoom-contenido {
    position: relative;
    width: 65%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
}

#img-zoom {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.2s ease-out;
    cursor: zoom-in;
}

.controles-galeria {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 30px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Efecto vidrio esmerilado */
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    z-index: 10001;
}

#contador-fotos {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}

.nav-foto {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-foto:hover {
    transform: scale(1.2);
    color: #ffda00; /* El color de tu marca */
}

#prev-foto { left: -80px; }
#next-foto { right: -80px; }

.cerrar-zoom {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.contenedor-img-zoom, #wrapper-img {
    overflow: hidden; 
    touch-action: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .modal-zoom-contenido { width: 95%; height: 60%; }
    #prev-foto { left: 10px; }
    #next-foto { right: 10px; }
    .contenedor-img-zoom {
    overflow: hidden; /* Esto corta la imagen si se sale de los bordes al agrandarse */
    touch-action: none; /* Esto le dice al navegador: "No hagas el scroll normal, yo manejo los dedos" */
}
}