body { 
    font-family: 'Segoe UI', sans-serif; 
    background: #121212; 
    color: #e0e0e0;
    margin: 0; 
    padding: 40px; 
}

h1.logo-title { text-align: center; color: #ffffff; margin-bottom: 40px; }

/* El contenedor que envuelve todo el bloque de usuario */
.user-info {
    display: flex;          /* Magia: pone todo en fila */
    align-items: center;    /* Centra verticalmente */
    justify-content: flex-end; /* Lo manda todo a la derecha */
    gap: 15px;              /* Espacio entre los elementos */
    padding: 10px 20px;     /* Un poco de aire alrededor */
}

.user-info a, .user-info span {
    text-decoration: none;
    white-space: nowrap;
}

/* GRID */
#lista-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
    padding: 10px;
}

/* CARDS */
.card { 
    background: #1e1e1e; 
    border-radius: 15px;
    border: 1px solid #333; 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover { 
    transform: translateY(-10px); 
    box-shadow: 0 15px 30px rgba(0,0,0,0.1); 
}

.img-container {
    width: 100%;
    height: 200px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.card img { 
    width: auto;
    height: auto;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
    border: 1px solid #444;
    border-radius: 8px;
    background: #000;
}

.info { 
    padding: 10px;
    text-align: center;
    color: white; 
}

.price { color: #03dac6; font-size: 1.2rem; font-weight: bold; }
.category { color: #bb86fc; font-weight: bold; text-transform: uppercase; font-size: 0.8rem; }

#categorias-nav, 
#subcategorias-nav, 
#nietos-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 20px 0; /* Un poco de aire arriba y abajo */
}

.filter-btn {
    background: #1e1e1e;
    border: 2px solid #bb86fc;
    color: #bb86fc;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.filter-btn.active, .filter-btn:hover { background: #bb86fc; color: #121212; }

/* TOOLTIP */
.tooltip {
    display: none; 
    position: absolute; 
    background: #333; 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    z-index: 2000;
    max-width: 250px;
}
.product-card {
    cursor: pointer;
}
.card.hidden { display: none; }
.footer-admin a { color: rgba(255,255,255,0.1); text-decoration: none; font-size: 0.8rem; float: right; }